<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDbohflAV59cTtrogcQTgH_kNbU33GbPY</string>
	<key>GCM_SENDER_ID</key>
	<string>915261357353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nativeco.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nativeco-15409</string>
	<key>STORAGE_BUCKET</key>
	<string>nativeco-15409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915261357353:ios:4c72780da3687f6160cb38</string>
</dict>
</plist>